SmartSocketsWebService/WindowsFormsApplication1/Service References/ServiceReference1/SmartSocketsWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SmartSocketsWebService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="wsHttpsEndpoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:SignedSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:WssUsernameToken10 />
              </wsp:Policy>
            </sp:UsernameToken>
          </wsp:Policy>
        </sp:SignedSupportingTokens>
        <sp:Wss11 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy />
        </sp:Wss11>
        <sp:Trust10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:MustSupportIssuedTokens />
            <sp:RequireClientEntropy />
            <sp:RequireServerEntropy />
          </wsp:Policy>
        </sp:Trust10>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://ent-ml15aaf-1.herts.ac.uk/ServiceImplimentation/Start.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://ent-ml15aaf-1.herts.ac.uk/ServiceImplimentation/Start.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://ent-ml15aaf-1.herts.ac.uk/ServiceImplimentation/Start.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SmartSocketsWebService" />
      <xsd:import schemaLocation="https://ent-ml15aaf-1.herts.ac.uk/ServiceImplimentation/Start.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISmartSocketsWebService_AddDataEntry_InputMessage">
    <wsdl:part name="parameters" element="tns:AddDataEntry" />
  </wsdl:message>
  <wsdl:message name="ISmartSocketsWebService_AddDataEntry_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDataEntryResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartSocketsWebService_GetDataEntry_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataEntry" />
  </wsdl:message>
  <wsdl:message name="ISmartSocketsWebService_GetDataEntry_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataEntryResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartSocketsWebService_GetAllDataEntires_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDataEntires" />
  </wsdl:message>
  <wsdl:message name="ISmartSocketsWebService_GetAllDataEntires_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDataEntiresResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartSocketsWebService_SetNewDevice_InputMessage">
    <wsdl:part name="parameters" element="tns:SetNewDevice" />
  </wsdl:message>
  <wsdl:message name="ISmartSocketsWebService_SetNewDevice_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetNewDeviceResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartSocketsWebService_UpdateDevice_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDevice" />
  </wsdl:message>
  <wsdl:message name="ISmartSocketsWebService_UpdateDevice_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDeviceResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartSocketsWebService_RemoveDevice_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveDevice" />
  </wsdl:message>
  <wsdl:message name="ISmartSocketsWebService_RemoveDevice_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveDeviceResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartSocketsWebService_GetDevice_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDevice" />
  </wsdl:message>
  <wsdl:message name="ISmartSocketsWebService_GetDevice_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDeviceResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartSocketsWebService_GetAllDevices_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDevices" />
  </wsdl:message>
  <wsdl:message name="ISmartSocketsWebService_GetAllDevices_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDevicesResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartSocketsWebService_GetDeviceType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDeviceType" />
  </wsdl:message>
  <wsdl:message name="ISmartSocketsWebService_GetDeviceType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDeviceTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartSocketsWebService_GetAllDeviceTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDeviceTypes" />
  </wsdl:message>
  <wsdl:message name="ISmartSocketsWebService_GetAllDeviceTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDeviceTypesResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartSocketsWebService_GetPaymentLevel_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPaymentLevel" />
  </wsdl:message>
  <wsdl:message name="ISmartSocketsWebService_GetPaymentLevel_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPaymentLevelResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartSocketsWebService_GetAllPaymentLevels_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPaymentLevels" />
  </wsdl:message>
  <wsdl:message name="ISmartSocketsWebService_GetAllPaymentLevels_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPaymentLevelsResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartSocketsWebService_SetNewProperty_InputMessage">
    <wsdl:part name="parameters" element="tns:SetNewProperty" />
  </wsdl:message>
  <wsdl:message name="ISmartSocketsWebService_SetNewProperty_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetNewPropertyResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartSocketsWebService_UpdateProperty_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProperty" />
  </wsdl:message>
  <wsdl:message name="ISmartSocketsWebService_UpdateProperty_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePropertyResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartSocketsWebService_RemoveProperty_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveProperty" />
  </wsdl:message>
  <wsdl:message name="ISmartSocketsWebService_RemoveProperty_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemovePropertyResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartSocketsWebService_GetProperty_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProperty" />
  </wsdl:message>
  <wsdl:message name="ISmartSocketsWebService_GetProperty_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPropertyResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartSocketsWebService_GetAllProperties_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProperties" />
  </wsdl:message>
  <wsdl:message name="ISmartSocketsWebService_GetAllProperties_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPropertiesResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartSocketsWebService_SetNewRoom_InputMessage">
    <wsdl:part name="parameters" element="tns:SetNewRoom" />
  </wsdl:message>
  <wsdl:message name="ISmartSocketsWebService_SetNewRoom_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetNewRoomResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartSocketsWebService_UpdateRoom_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRoom" />
  </wsdl:message>
  <wsdl:message name="ISmartSocketsWebService_UpdateRoom_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRoomResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartSocketsWebService_RemoveRoom_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveRoom" />
  </wsdl:message>
  <wsdl:message name="ISmartSocketsWebService_RemoveRoom_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveRoomResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartSocketsWebService_GetRoom_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRoom" />
  </wsdl:message>
  <wsdl:message name="ISmartSocketsWebService_GetRoom_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRoomResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartSocketsWebService_GetAllRooms_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRooms" />
  </wsdl:message>
  <wsdl:message name="ISmartSocketsWebService_GetAllRooms_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRoomsResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartSocketsWebService_SetNewOwner_InputMessage">
    <wsdl:part name="parameters" element="tns:SetNewOwner" />
  </wsdl:message>
  <wsdl:message name="ISmartSocketsWebService_SetNewOwner_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetNewOwnerResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartSocketsWebService_UpdateOwner_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOwner" />
  </wsdl:message>
  <wsdl:message name="ISmartSocketsWebService_UpdateOwner_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOwnerResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartSocketsWebService_RemoveOwner_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveOwner" />
  </wsdl:message>
  <wsdl:message name="ISmartSocketsWebService_RemoveOwner_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveOwnerResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartSocketsWebService_GetOwner_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOwner" />
  </wsdl:message>
  <wsdl:message name="ISmartSocketsWebService_GetOwner_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOwnerResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartSocketsWebService_GetAllOwners_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllOwners" />
  </wsdl:message>
  <wsdl:message name="ISmartSocketsWebService_GetAllOwners_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllOwnersResponse" />
  </wsdl:message>
  <wsdl:portType name="ISmartSocketsWebService">
    <wsdl:operation name="AddDataEntry">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartSocketsWebService/AddDataEntry" message="tns:ISmartSocketsWebService_AddDataEntry_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartSocketsWebService/AddDataEntryResponse" message="tns:ISmartSocketsWebService_AddDataEntry_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataEntry">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartSocketsWebService/GetDataEntry" message="tns:ISmartSocketsWebService_GetDataEntry_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartSocketsWebService/GetDataEntryResponse" message="tns:ISmartSocketsWebService_GetDataEntry_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllDataEntires">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartSocketsWebService/GetAllDataEntires" message="tns:ISmartSocketsWebService_GetAllDataEntires_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartSocketsWebService/GetAllDataEntiresResponse" message="tns:ISmartSocketsWebService_GetAllDataEntires_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetNewDevice">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartSocketsWebService/SetNewDevice" message="tns:ISmartSocketsWebService_SetNewDevice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartSocketsWebService/SetNewDeviceResponse" message="tns:ISmartSocketsWebService_SetNewDevice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDevice">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartSocketsWebService/UpdateDevice" message="tns:ISmartSocketsWebService_UpdateDevice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartSocketsWebService/UpdateDeviceResponse" message="tns:ISmartSocketsWebService_UpdateDevice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveDevice">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartSocketsWebService/RemoveDevice" message="tns:ISmartSocketsWebService_RemoveDevice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartSocketsWebService/RemoveDeviceResponse" message="tns:ISmartSocketsWebService_RemoveDevice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDevice">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartSocketsWebService/GetDevice" message="tns:ISmartSocketsWebService_GetDevice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartSocketsWebService/GetDeviceResponse" message="tns:ISmartSocketsWebService_GetDevice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllDevices">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartSocketsWebService/GetAllDevices" message="tns:ISmartSocketsWebService_GetAllDevices_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartSocketsWebService/GetAllDevicesResponse" message="tns:ISmartSocketsWebService_GetAllDevices_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDeviceType">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartSocketsWebService/GetDeviceType" message="tns:ISmartSocketsWebService_GetDeviceType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartSocketsWebService/GetDeviceTypeResponse" message="tns:ISmartSocketsWebService_GetDeviceType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllDeviceTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartSocketsWebService/GetAllDeviceTypes" message="tns:ISmartSocketsWebService_GetAllDeviceTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartSocketsWebService/GetAllDeviceTypesResponse" message="tns:ISmartSocketsWebService_GetAllDeviceTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPaymentLevel">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartSocketsWebService/GetPaymentLevel" message="tns:ISmartSocketsWebService_GetPaymentLevel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartSocketsWebService/GetPaymentLevelResponse" message="tns:ISmartSocketsWebService_GetPaymentLevel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPaymentLevels">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartSocketsWebService/GetAllPaymentLevels" message="tns:ISmartSocketsWebService_GetAllPaymentLevels_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartSocketsWebService/GetAllPaymentLevelsResponse" message="tns:ISmartSocketsWebService_GetAllPaymentLevels_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetNewProperty">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartSocketsWebService/SetNewProperty" message="tns:ISmartSocketsWebService_SetNewProperty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartSocketsWebService/SetNewPropertyResponse" message="tns:ISmartSocketsWebService_SetNewProperty_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProperty">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartSocketsWebService/UpdateProperty" message="tns:ISmartSocketsWebService_UpdateProperty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartSocketsWebService/UpdatePropertyResponse" message="tns:ISmartSocketsWebService_UpdateProperty_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveProperty">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartSocketsWebService/RemoveProperty" message="tns:ISmartSocketsWebService_RemoveProperty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartSocketsWebService/RemovePropertyResponse" message="tns:ISmartSocketsWebService_RemoveProperty_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProperty">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartSocketsWebService/GetProperty" message="tns:ISmartSocketsWebService_GetProperty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartSocketsWebService/GetPropertyResponse" message="tns:ISmartSocketsWebService_GetProperty_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllProperties">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartSocketsWebService/GetAllProperties" message="tns:ISmartSocketsWebService_GetAllProperties_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartSocketsWebService/GetAllPropertiesResponse" message="tns:ISmartSocketsWebService_GetAllProperties_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetNewRoom">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartSocketsWebService/SetNewRoom" message="tns:ISmartSocketsWebService_SetNewRoom_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartSocketsWebService/SetNewRoomResponse" message="tns:ISmartSocketsWebService_SetNewRoom_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRoom">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartSocketsWebService/UpdateRoom" message="tns:ISmartSocketsWebService_UpdateRoom_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartSocketsWebService/UpdateRoomResponse" message="tns:ISmartSocketsWebService_UpdateRoom_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveRoom">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartSocketsWebService/RemoveRoom" message="tns:ISmartSocketsWebService_RemoveRoom_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartSocketsWebService/RemoveRoomResponse" message="tns:ISmartSocketsWebService_RemoveRoom_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRoom">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartSocketsWebService/GetRoom" message="tns:ISmartSocketsWebService_GetRoom_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartSocketsWebService/GetRoomResponse" message="tns:ISmartSocketsWebService_GetRoom_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllRooms">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartSocketsWebService/GetAllRooms" message="tns:ISmartSocketsWebService_GetAllRooms_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartSocketsWebService/GetAllRoomsResponse" message="tns:ISmartSocketsWebService_GetAllRooms_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetNewOwner">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartSocketsWebService/SetNewOwner" message="tns:ISmartSocketsWebService_SetNewOwner_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartSocketsWebService/SetNewOwnerResponse" message="tns:ISmartSocketsWebService_SetNewOwner_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOwner">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartSocketsWebService/UpdateOwner" message="tns:ISmartSocketsWebService_UpdateOwner_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartSocketsWebService/UpdateOwnerResponse" message="tns:ISmartSocketsWebService_UpdateOwner_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveOwner">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartSocketsWebService/RemoveOwner" message="tns:ISmartSocketsWebService_RemoveOwner_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartSocketsWebService/RemoveOwnerResponse" message="tns:ISmartSocketsWebService_RemoveOwner_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOwner">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartSocketsWebService/GetOwner" message="tns:ISmartSocketsWebService_GetOwner_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartSocketsWebService/GetOwnerResponse" message="tns:ISmartSocketsWebService_GetOwner_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllOwners">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartSocketsWebService/GetAllOwners" message="tns:ISmartSocketsWebService_GetAllOwners_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartSocketsWebService/GetAllOwnersResponse" message="tns:ISmartSocketsWebService_GetAllOwners_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsHttpsEndpoint" type="tns:ISmartSocketsWebService">
    <wsp:PolicyReference URI="#wsHttpsEndpoint_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddDataEntry">
      <soap12:operation soapAction="http://tempuri.org/ISmartSocketsWebService/AddDataEntry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataEntry">
      <soap12:operation soapAction="http://tempuri.org/ISmartSocketsWebService/GetDataEntry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDataEntires">
      <soap12:operation soapAction="http://tempuri.org/ISmartSocketsWebService/GetAllDataEntires" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetNewDevice">
      <soap12:operation soapAction="http://tempuri.org/ISmartSocketsWebService/SetNewDevice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDevice">
      <soap12:operation soapAction="http://tempuri.org/ISmartSocketsWebService/UpdateDevice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveDevice">
      <soap12:operation soapAction="http://tempuri.org/ISmartSocketsWebService/RemoveDevice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDevice">
      <soap12:operation soapAction="http://tempuri.org/ISmartSocketsWebService/GetDevice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDevices">
      <soap12:operation soapAction="http://tempuri.org/ISmartSocketsWebService/GetAllDevices" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeviceType">
      <soap12:operation soapAction="http://tempuri.org/ISmartSocketsWebService/GetDeviceType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDeviceTypes">
      <soap12:operation soapAction="http://tempuri.org/ISmartSocketsWebService/GetAllDeviceTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPaymentLevel">
      <soap12:operation soapAction="http://tempuri.org/ISmartSocketsWebService/GetPaymentLevel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPaymentLevels">
      <soap12:operation soapAction="http://tempuri.org/ISmartSocketsWebService/GetAllPaymentLevels" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetNewProperty">
      <soap12:operation soapAction="http://tempuri.org/ISmartSocketsWebService/SetNewProperty" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProperty">
      <soap12:operation soapAction="http://tempuri.org/ISmartSocketsWebService/UpdateProperty" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveProperty">
      <soap12:operation soapAction="http://tempuri.org/ISmartSocketsWebService/RemoveProperty" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProperty">
      <soap12:operation soapAction="http://tempuri.org/ISmartSocketsWebService/GetProperty" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllProperties">
      <soap12:operation soapAction="http://tempuri.org/ISmartSocketsWebService/GetAllProperties" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetNewRoom">
      <soap12:operation soapAction="http://tempuri.org/ISmartSocketsWebService/SetNewRoom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRoom">
      <soap12:operation soapAction="http://tempuri.org/ISmartSocketsWebService/UpdateRoom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveRoom">
      <soap12:operation soapAction="http://tempuri.org/ISmartSocketsWebService/RemoveRoom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoom">
      <soap12:operation soapAction="http://tempuri.org/ISmartSocketsWebService/GetRoom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllRooms">
      <soap12:operation soapAction="http://tempuri.org/ISmartSocketsWebService/GetAllRooms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetNewOwner">
      <soap12:operation soapAction="http://tempuri.org/ISmartSocketsWebService/SetNewOwner" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOwner">
      <soap12:operation soapAction="http://tempuri.org/ISmartSocketsWebService/UpdateOwner" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveOwner">
      <soap12:operation soapAction="http://tempuri.org/ISmartSocketsWebService/RemoveOwner" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOwner">
      <soap12:operation soapAction="http://tempuri.org/ISmartSocketsWebService/GetOwner" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllOwners">
      <soap12:operation soapAction="http://tempuri.org/ISmartSocketsWebService/GetAllOwners" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SmartSocketsWebService">
    <wsdl:port name="wsHttpsEndpoint" binding="tns:wsHttpsEndpoint">
      <soap12:address location="https://ent-ml15aaf-1.herts.ac.uk/ServiceImplimentation/Start.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://ent-ml15aaf-1.herts.ac.uk/ServiceImplimentation/Start.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>