SmartSocketsWebService/WindowsFormsApplication1/Service References/ServiceReference1/SmartSocketsWebService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SmartSocketsWebService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SmartSocketsWebService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="DataEntry">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="tns:Data" />
      <xs:element minOccurs="0" name="DeviceSignature" type="xs:int" />
      <xs:element minOccurs="0" name="EntryType" type="xs:int" />
      <xs:element minOccurs="0" name="TimeStamp" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataEntry" nillable="true" type="tns:DataEntry" />
  <xs:complexType name="Data">
    <xs:sequence>
      <xs:element minOccurs="0" name="Current" type="xs:int" />
      <xs:element minOccurs="0" name="Power" type="xs:int" />
      <xs:element minOccurs="0" name="Voltage" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Data" nillable="true" type="tns:Data" />
  <xs:complexType name="ArrayOfDataEntry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataEntry" nillable="true" type="tns:DataEntry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataEntry" nillable="true" type="tns:ArrayOfDataEntry" />
  <xs:complexType name="Device">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Commands" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="DeviceID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DeviceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeviceTypeID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="RoomID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Device" nillable="true" type="tns:Device" />
  <xs:complexType name="ArrayOfDevice">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Device" nillable="true" type="tns:Device" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDevice" nillable="true" type="tns:ArrayOfDevice" />
  <xs:complexType name="DeviceType">
    <xs:sequence>
      <xs:element minOccurs="0" name="DeviceTypeID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DeviceTypeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeviceType" nillable="true" type="tns:DeviceType" />
  <xs:complexType name="ArrayOfDeviceType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeviceType" nillable="true" type="tns:DeviceType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDeviceType" nillable="true" type="tns:ArrayOfDeviceType" />
  <xs:complexType name="PaymentLevel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentLevelID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaymentLevel" nillable="true" type="tns:PaymentLevel" />
  <xs:complexType name="ArrayOfPaymentLevel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PaymentLevel" nillable="true" type="tns:PaymentLevel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPaymentLevel" nillable="true" type="tns:ArrayOfPaymentLevel" />
  <xs:complexType name="Property">
    <xs:sequence>
      <xs:element minOccurs="0" name="OwnerID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PropertyID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Property" nillable="true" type="tns:Property" />
  <xs:complexType name="ArrayOfProperty">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Property" nillable="true" type="tns:Property" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProperty" nillable="true" type="tns:ArrayOfProperty" />
  <xs:complexType name="Room">
    <xs:sequence>
      <xs:element minOccurs="0" name="PropertyID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="RoomID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="RoomName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Room" nillable="true" type="tns:Room" />
  <xs:complexType name="ArrayOfRoom">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Room" nillable="true" type="tns:Room" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRoom" nillable="true" type="tns:ArrayOfRoom" />
  <xs:complexType name="Owner">
    <xs:sequence>
      <xs:element minOccurs="0" name="OwnerID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="OwnerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentLevelID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Owner" nillable="true" type="tns:Owner" />
  <xs:complexType name="ArrayOfOwner">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Owner" nillable="true" type="tns:Owner" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOwner" nillable="true" type="tns:ArrayOfOwner" />
</xs:schema>